<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.chart-wrapper {
    margin: 0 auto;
    height: 100vh;
    width: 700px;
}

.type {
    display: flex;
    flex-direction: column;
}

.type__label {
    margin: 0 0 10px 20px;
}

.type__name {
    font-size: 20px;
    margin-left: 13px;
}

.labels {
    display: flex;
    flex-direction: column;
}

.labels__addingString {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.labels__addBtn {
    width: 35px;
    margin-left: 20px;
}

.labels__label {
    margin-bottom: 15px;
}

.labels__input {
    padding: 0 10px;
}

.labels__number {
    width: 90px;
}

.labels__number::-webkit-inner-spin-button, 
.labels__number::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.disabled {
    display: none;
}

.chart-inner {
    width: 400px;
}

.btn {
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
=======
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chart-wrapper {
    margin: 0 auto;
    height: 100vh;
    width: 700px;
}

.labels {
    display: flex;
    flex-direction: column;
}

.disabled {
    display: none;
>>>>>>> 49f80c9a30b9ab447bd554df99c9dcc4a96ed8ec
}