* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chart-wrapper {
    margin: 0 auto;
    height: 100vh;
    width: 700px;
}

.chart-inner {

}

.options {
}
.type {
    display: flex;
    flex-direction: column;
}
.type__title {
}
.type__type {
}
.type__bar {
}
.type__line {
}
.type__pie {
}
.otions__submit {
}
.btn {
}

.labels {
    display: flex;
    flex-direction: column;
}

.disabled {
    display: none;
}