* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chart-wrapper {
    margin: 0 auto;
    height: 100vh;
    width: 700px;
}

.labels {
    display: flex;
    flex-direction: column;
}

.disabled {
    display: none;
}